.contact-description {
  width: 80%;
  margin-top: 30px;
  color: #8f8f8f;
  line-height: 30px;
  font-weight: 300;

  a {
    color: #111111;
    font-weight: 600;
    margin-left: 4px;
    border-bottom: 1px solid #111111;
  }
}
