.faq__main-title {
  font-weight: 400;
  font-size: 42px;
  color: #111111;
  letter-spacing: 2px;
}
.faq-title {
  color: #8f8f8f;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
}

.faq-description {
  font-weight: 300;
  color: #8f8f8f;
  letter-spacing: 1px;
}
.faq-strong {
  font-weight: 700;
}

.faq-link {
  margin-left: 3px;
  font-weight: 700;
  color: #111111;
  border-bottom: 1px solid #111111;
}
