footer {
  margin-top: 100px;
  position: relative;
  &::before {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 1px;
    height: 1px;
    background-color: #ccc;
    transition: width 0.2s;
  }
}
.footer-payments {
  width: fit-content;
  margin: 20px auto;
  svg {
    margin: 0 5px;
  }
}
.footer__organization {
  font-size: 12px;
  text-align: center;
  color: #8f8f8f;
  margin-bottom: 20px;
}
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.link__footer-container {
}

.footer__mission {
  p {
    width: 60%;
  }
}

.footer-title {
  font-weight: 600;
  color: #8f8f8f;
}
.link__footer-container {
  display: flex;
  flex-direction: column;
  a {
    margin-bottom: 10px;
    display: ruby;
    color: #8f8f8f;
  }
}

@media (max-width: 952px) {
  .footer-wrapper {
    flex-direction: column;
  }
  .link__footer-container {
    margin: 5px 0 !important;
  }
  .footer__mission {
    margin: 5px 0 20px !important;
    p {
      width: 100%;
      padding: 0 5% 0 0;
    }
  }
}
