@import "about";

body {
  font-family: "Roboto";
  color: #111;
  overflow-x: hidden;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  padding: 0 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.greeting {
  font-size: 12px;
  color: #111;
  text-align: center;
}
.separator {
  height: 1px;
  width: 100%;
  background-color: #ccc;
}
.nav-bar {
  margin-top: 20px;
  font-size: 18px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #0a6a20;
  color: #fff;
  width: 90px;
  height: 90px;
}
.nav__container {
  display: flex;
  align-items: center;
}
.nav__link {
  margin-left: 25px;
  color: #cccccc;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  &:hover {
    &:after {
      content: "";
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      bottom: -3px;
      height: 2px;
      background-color: #111;
      transition: width 0.2s;
    }
  }
}
.background__main {
  width: 100%;
  height: auto;
  padding: 0;
  filter: brightness(70%);
}

.banner__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
  z-index: 2;
  h2 {
    font-size: 36px;
    text-align: center;
    color: #fff;
  }
  p {
    font-size: 18px;
    color: #cccccc;
  }
  a {
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 13px 25px;
    border: 1px solid #ffffff;
    display: block;
  }
}
.banner__btn-wrapper {
  border: 1px solid transparent;
  width: fit-content;
  margin: 0 auto;
  &:hover {
    border: 1px solid #fff;
  }
}

.about__brand-title {
  color: #111;
  font-size: 36px;
  text-align: center;
}

.about__brand-description {
  width: 45%;
  margin: 0 auto;
  color: #111;
  font-size: 18px;
}
