.list__privacy-title {
  text-decoration: underline;
  font-size: 14px;
  list-style: disc;

  &::marker {
    list-style: inherit;
  }
}
.header__privacy-list {
  list-style: disc;
  padding-left: 15px;
  word-spacing: 2px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  li {
    margin-top: 5px;
  }
  a {
    color: #7b7b7b;
  }
}

.privacy-list {
  word-spacing: 1px;
  letter-spacing: 1px;
  margin-top: 0px;
  list-style: circle;
  line-height: 1.5;
  strong {
    color: #505050;
    margin-right: 5px;
  }
  li {
    margin-top: 5px;
  }
}
.privacy-link {
  color: #8f8f8f !important;
}
.privacy__paragraph {
  display: inline-block;
  padding-top: 20px !important;
}
